{{#if isActive}}
<h1>Hello {{user.username}}!</h1>
<p>Your account is {{user.status}}.</p>
{{else}}
<h1>Hello {{user.username}}!</h1>
<p>Your account is {{user.status}}. Please check your emails and confirm subscription.</p>
{{/if}}