<h1>{{user.username}} Profile</h1>
<br>
<br>
<p>Hello {{user.username}}, Welcome to your profile</p>

<img src='{{user.path}}' alt='{{title}}' id="photoProfile">

<h3>Your status: {{user.status}}</h3>
<br>
<br>
<a href="/auth/logout">Logout</a>






