<div class="container">

    <h1>Email enviado</h1>

    <ul>
        <li>Dirección de envío {{email}}</li>
        <li>Asunto:  {{subject}}</li>
        <li>Mensaje: {{message}}</li>
        <li>Info del mensaje: {{info.response}}</li>
        <li>ID {{info.messageId}}</li>
    </ul>

</div> 