<div class="container h-100">
    <h4 class="display-6 pt-5 text-grey">Registration</h4>
    <hr>
    <div class="container mt-5">
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label text-grey">Email address</label>
                <input name="email" value="{{user.email}}" class="form-control {{#if errors.email}} is-invalid {{/if}}" id="email" aria-describedby="emailHelp">
                {{#if errors.email}} 
                <div id="emailHelp" class="form-text invalid-feedback">{{errors.email}}</div>
                {{/if}}
            </div>
            {{!-- <div class="mb-3">
                <label for="username" class="form-label text-grey">Username - Will be kept forever</label>
                <input name="username" value="{{user.username}}" class="form-control {{#if errors.username}} is-invalid {{/if}}" id="username" aria-describedby="usernameHelp">
                {{#if errors.username}} 
                <div id="usernameHelp" class="form-text invalid-feedback">{{errors.username}}</div>
                {{/if}}
            </div> --}}
            <div class="mb-3">
                <label for="password" class="form-label text-grey">Password</label>
                <input name="password" type="password" class="form-control {{#if errors.password}} is-invalid {{/if}}" id="password">
                {{#if errors.password}} 
                <div id="emailHelp" class="form-text invalid-feedback">{{errors.password}}</div>
                {{/if}}
            </div>
            <div class="mb-3">
                <label for="passwordRepeat" class="form-label text-grey">Repeat password</label>
                <input name="passwordRepeat" type="password" id="passwordRepeat" class="form-control {{#if errors.password}} is-invalid {{/if}}" id="password">
            </div>
            <button type="submit" class="button-action">Submit</button>
        </form>
    </div>
</div>