<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src={{product.image}} class="rounded-circle border border-3 m-4" width="200" alt={{product.name}}>
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <h2>${{product.price}}</h2>
      <hr class="my-4">
      <a href="/products/store">Back to store</a>
    </div>
  </div>
</div>